* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.body{
  background-color: lightgray;
  background-image: url("https://wallpaper.dog/large/20395334.jpg");
  background-attachment: fixed;
  background-size: 100%;
}

.title-page{
  width: 300px;
  margin: auto;
  font-family: 'cookie';
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  color: rgb(85, 79, 79);
}
  
.form-register {
    width: 500px;
    background: whitesmoke;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-family: 'calibri';
    text-align: center;
    box-shadow : 5px 5px 5px gray;
  }
  
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
.input-bar {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid gray;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }

  #input-bar-gustos {
    width: 62%;
    background: white;
    padding: 11px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid gray;
    border-right-color: white;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }

.icon {
    padding: 15px;
    position: absolute;
    color: gray;
    min-width: 50px;
    text-align: right;
    transform: translateX(-100%)
  }
  
.btn-button1{
  background-color: green;
  border: 1px solid green;
  color: white;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  padding: 11px 20px;  
  font-size: 18px;
  width: 120%;
  transition-duration: 0.5s;
}

.btn-button1:hover{
  background-color: white;
  color: #4CAF50;
}

.btn-button2{
  background-color: blue;
  border: 1px solid blue;
  color: white;
  border-radius: 4px;
  padding: 11px 20px;  
  font-size: 18px;
  width: auto;
  transition-duration: 0.5s;
}

.btn-button2:hover{
  background-color: white;
  color: rgb(91, 91, 255);
}

.btn-button3{
  background-color: red;
  border: 1px solid red;
  color: white;
  border-radius: 4px;
  padding: 11px 20px;  
  font-size: 18px;
  width: auto;  
  transition-duration: 0.5s;
}

.btn-button3:hover{
  background-color: white;
  color: rgb(255, 64, 64);
}

.btn-button4{
  background-color: rgb(11, 179, 230);
  border: 1px solid rgb(11, 179, 230);
  color: white;
  border-radius: 4px;
  padding: 11px 20px;  
  font-size: 18px;
  margin: auto;
  width: 80%;   
  transition-duration: 0.5s;
}

.btn-button4:hover{
  background-color: white;
  color: rgb(11, 179, 230);
}

.btn-button5{
  background-color: white;
  border: 1px solid rgb(226, 18, 18);
  color: rgb(226, 18, 18);
  border-radius: 4px;
  padding: 11px 20px;  
  font-size: 18px;
  margin: auto;
  width: 80%;  
  transition-duration: 0.5s;
}

.btn-button5:hover{
  background-color: rgb(226, 18, 18);
  color: white;
}

.table-container {
  border: 1px solid gray;
  background: white;
  border-radius: 4px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.table{
  position: relative;
  margin: 15px;
  padding: 10px;
  color: rgb(59, 56, 56);
  border: 1px solid gray;
  width: 93%;
}
  
.g , .p{
  width: 100%;
  background: white;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid gray;
  font-family: 'calibri';
  font-size: 18px;
  color: black;
}

.info-text {
  display: flex;
  width: auto;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.button-container {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}